<%= form_with(url: root_path, local: true, method: :get, class: "search-form") do |form| %>
  <%= form.text_field :keyword, placeholder: "髪型を検索する", class: "search-input" %>
  <%= form.submit "検索", class: "search-btn" %>
<% end %>
<div class="contents row">
   <% @photos.each do |photo| %>
    <div class="content_post" style="background-image: url(<%= photo.image %>);">
      <div class="more">
        <span><%= image_tag '下矢印.jpeg' %></span>
        <ul class="more_list">
          <li>
            <%= link_to '削除', photo_path(photo.id), method: :delete %>
          </li>
        </ul>
      </div>
      <p><%= photo.text %></p>
      <span class="name">
        <%= photo.name %>
      </span>
    </div>
  <% end %>
</div>